<div class="container">
  <div class="home-container">
    <h1>Skin Marketplace</h1>
    
    <div *ngIf="loading" class="loading">Loading...</div>
    
    <div *ngIf="error" class="error-message">
      <p>Error loading skins. Please try again later.</p>
    </div>

    <div class="skins-grid" *ngIf="!loading && !error">
      <div class="skin-card" *ngFor="let skin of skins">
        <button class="wishlist-button new-wishlist-btn"
        *ngIf="!currentUser || skin.ownerId !== currentUser.id"
        (click)="toggleWishlist(skin.id)"
        [ngClass]="{'wishlist-active': isInWishlist(skin.id)}">
  {{ isInWishlist(skin.id) ? '\u2665' : '\u2661' }}
</button>
        <img [src]="skin.imagem" [alt]="skin.nome" class="skin-image">
        <div class="skin-info">
          <h3>{{ skin.nome }}</h3>
          <p class="float">Float: {{ skin.float }}</p>
          <p class="price">${{ skin.preco }}</p>
          <button class="buy-button" (click)="buySkin(skin)" [disabled]="!skin.venda || (currentUser && skin.ownerId === currentUser.id)">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>